@using  MyWebAppDal.Models
@using  MyWebAppDal.DTO
@model MyWebApp.Models.HomeViewModels.AddHouseViewModel
@{
    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css" rel="stylesheet" />

<h2>Hirdetés feladása</h2>

@foreach (HouseDto House in Model.UserHouses)
{
<div class="row">
    <div class="col-sm-6">
        <div class="content">
            <div style="cursor: pointer;" onclick="window.location='https://localhost:44303/Home/HouseDetails/@House.Id';">
                <img src="http://www.design3d.hu/latvanyterv/csaladi-haz-budapest-13.jpg" width=200>
                <p>@House.Price Ft </p>
                <p>@Model.Cities.ElementAt(House.CityId.Value - 1).Name , @House.Street , @House.HouseNumber.   </p>
                <p>@House.Area m^2 </p>
                <p>@House.RoomNumber + @House.PartyRoomNumber félszoba </p>
            </div>
        </div>
        <p></p>
    </div>
    <div class="col-sm-2">
      <center>  <a class="btn btn-danger" asp-action="DeleteMyHouse" asp-route-Id="@House.Id">
            Törlés
        </a></center>
    </div>
  </div>
}



<form class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>

    </div>

