@using MyWebApp.Models.AdvertisementViewModels
@using MyWebAppDal.Models


@model EditHouseViewModel

@{
    ViewData["Title"] = "Edit";
}


<h2>Szerkesztés</h2>
<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="col-sm-6">

            @{ 
                Model.EditedHouseDetails.Id = Model.Id;
            }

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label text-right" for="">Eladó/Kiadó:</label>
                <div class="col-sm-5">
                    <select class="form-control" asp-for="@Model.EditedHouseDetails.ForSaleType" asp-items="Html.GetEnumSelectList(typeof(ForSaleType))"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Háztípus:</label>
                <div class="col-sm-5">
                    <select class="form-control" asp-for="@Model.EditedHouseDetails.HouseType" asp-items="Html.GetEnumSelectList(typeof(HouseType))"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Város:</label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(Model => Model.EditedHouseDetails.CityId, new SelectList(Model.Cities, "Id", "Name"), "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Utca:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(Model => Model.EditedHouseDetails.Street, new { placeholder = "pl: Nagy Lajos utca", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Házszám:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(Model => Model.EditedHouseDetails.HouseNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Ár:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(Model => Model.EditedHouseDetails.Price, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Alap terület:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(Model => Model.EditedHouseDetails.Area, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Szobák és félszobák száma:</label>
                <table class="col-sm-5 control-label">
                    <tr>
                        <td>  @Html.TextBoxFor(Model => Model.EditedHouseDetails.RoomNumber, new { placeholder = "Szobák", @class = "form-control" })
                        <td>  +
                        <td>  @Html.TextBoxFor(Model => Model.EditedHouseDetails.PartyRoomNumber, new { placeholder = "Félszobák", @class = "form-control" })
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Fűtés:</label>
                <div class="col-sm-5">
                    <select class="form-control" asp-for="@Model.EditedHouseDetails.HeatingType" asp-items="Html.GetEnumSelectList(typeof(HeatingType))"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="">Belmagasság:</label>
                <div class="col-sm-5">
                    <select class="form-control" asp-for="@Model.EditedHouseDetails.InnerHeightType" asp-items="Html.GetEnumSelectList(typeof(InnerHeightType))"></select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-3" for="">Bútorozott:</label>
                <div class="col-sm-5">
                    @Html.CheckBoxFor(Model => Model.EditedHouseDetails.Furnished)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 " for="">Háziállat:</label>
                <div class="col-sm-5">
                    @Html.CheckBoxFor(Model => Model.EditedHouseDetails.Animal)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3" for="">Erkély:</label>
                <div class="col-sm-5">
                    @Html.CheckBoxFor(Model => Model.EditedHouseDetails.Balcony)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3" for="">Lift:</label>
                <div class="col-sm-5">
                    @Html.CheckBoxFor(Model => Model.EditedHouseDetails.Elevator)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3" for="">Dohányzás:</label>
                <div class="col-sm-5">
                    @Html.CheckBoxFor(Model => Model.EditedHouseDetails.Smoking)
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3" for="">Képek feltöltése: </label>
                <input type="hidden" asp-for="EditedHouseDetails.Image" />
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <input type="file" name="files" multiple /><br />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3" for="">Leírás:</label>
            </div>
            <p></p>
            <textarea class="form-control" rows="8" asp-for="@Model.EditedHouseDetails.Details"></textarea>
        </div>
        <div class="form-group col-sm-10">
            <center><input type="submit" value="Feladás" class="btn btn-success"></center>
        </div>
    </form>
</div>
